<form action="/todos/{{ todo._id }}?_method=PUT" method="POST" class="form-control mt-4 p-3">
  <div class="row align-items-center">
    <div class="col-1">
      <input type="checkbox" class="me-2 form-check-input" name="isDone" {{#if todo.isDone}} checked {{/if}}>
    </div>
    <div class="col-8">
      <input type="text" class="form-control" placeholder="name" name="name" value="{{ todo.name }}">
    </div>
    <div class="col-3">
      <button type="submit" class="btn btn-success">Save</button>
      <a href="/" class="btn btn-primary">Back</a>
    </div>

  </div>
</form>