<div>
  <h4>Create new data</h4>
  <a href="./todos/new">Create</a>
</div>
<ul>
    {{#each todos}}
      <li>
        {{this.name}} 
        <a href="./todos/{{ this._id }}">Detail</a>
      </li>
    {{/each}}
</ul>