<form action="/todos" method="POST" class="my-5 px-5">
  <div class="row">
    <input type="text" class="form-control col-12 py-2" placeholder="name ..." name="name">
  </div>
  <div class="row justify-content-end">
    <button type="submit" class="col-auto btn btn-success mt-3">Create</button>
  </div>
</form>